


.logo{
    flex: 1;  
    width: auto;
    height: auto; 
    margin-left: 80px; 
}

#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.aspect-ratio-169{
    display: block;
    position: relative;
    padding-top: 56.25% ;
    transition: 0.3;    
}

.aspect-ratio-169 img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
.dot-container{
    position: absolute;
    height: 30px;
    width: 75% ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dot{
    height: 16px;
    width: 16px;
    background-color: #CCC;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.dot.active{
    background-color: #333;
}

/*---------------------------app------------------------*/
.app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}

.app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

.app-google{
    margin: 50px;
}

.app-google img{
   height: 50px ; 
   cursor: pointer;
}

/*---------------------------footer-----------------------------*/
footer{
    text-align: center;
}

.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;    
}

.footer-top img{
    height: 50px;
}

.footer-top li{
    padding: 0 12px;
    position: relative;
}

.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #CCCCCC;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after{
    display: none;
}

.footer-top li:last-child a{
    margin-right: 12px;
    color:  #333;    
}

.footer-center{
    text-align: center;
}

.footer-bottom{
    text-align: center;
    margin: 20px 0;
}


