{% load i18n %}{% autoescape off %}
{% blocktranslate %}Bạn nhận được email này vì bạn đã yêu cầu đặt lại mật khẩu cho tài khoản người dùng của mình tại {{ site_name }}.{% endblocktranslate %}

{% translate "Vui lòng truy cập trang sau và chọn mật khẩu mới:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'store:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Tên người dùng của bạn, trong trường hợp bạn quên:' %} {{ user.get_username }}

{% translate "Cảm ơn vì đã sử dụng trang web của chúng tôi!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
