{% load static %}
<div class="bg-dark" style="height: 2px;">

</div>
<footer class="text-white " style=" background-color: white">
        <div class="container py-4">

          
            
          
          </section>
          <!-- /*----------------------------app---------------------------------*/ -->
          <section class="app-container">
            <p class="text-center" style="font-size: 17px;">Tải ứng dụng Tiki</p>
            <div class="app-google">
              <a href="https://www.apple.com/app-store/"><img  src="{% static 'img/appstore.jpg' %} "></a>
              <a href="https://play.google.com/"><img src="{% static 'img/googleplay.jpg' %} "></a>
              
            </div>
            
          </section>
          
          <!-- /*---------------------------footer------------------------*/ -->
          <div class="footer-top text-dark" style="font-size:11px;">
            <li><a href="#"><img src="{% static 'img/dathongbao.png' %}" alt=""></a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="{% url 'store:introduce' %}">Giới thiệu</a></li>
            <li>
              <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
              <a href="https://twitter.com/" class="fab fa-twitter"></a>
              <a href="https://www.youtube.com/" class="fab fa-youtube"></a>
            </li>
          </div>
          <div id="TD" class="footer-center text-dark" style="font-size: 11px;">
            <p>
              Công ty Cổ phần VinGroup với số đăng ký kinh doanh: 0123456789<br>
              Địa chỉ đăng ký: 334 Nguyễn Trãi, Thanh Xuân Trung, Thanh Xuân, Hà Nội, Việt Nam - 024 9999 6666<br>
              Đặt hàng online : <b>024 9999 6666</b> .
            </p>
          
          </div>
          <div class="footer-bottom text-dark" style="font-size: 11px;">
            ©Tiki All rights reserved
          </div>

        </div>
      </footer>