{% load static %}
{% load humanize %}

<!-- navbar-->
<header class="header" style="background-color: #1a94ff;">
  <div class="container px-0 px-lg-0">
    
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
      <a href="{% url 'store:introduce' %}" class="nav-link active text-white">
      <span class="font-weight-bold text-white" style="font-size: 30px; margin-right: 20px;">Tiki</span></a>
      <a
        class="navbar-brand"
        >
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'store:search' %}" >
          <input class="form-control mr-sm-2" action="" style="width: 410px;font-size: 13.5px" method="GET" type="text"
            placeholder="Tìm kiếm ..." aria-label="Search" name="query" value="{{ request.GET.query }}">
          <button class="btn" style="color: white;border-color: white;font-size: 13.5px ; " type="submit"><i class="fa fa-search" ></i> Tìm kiếm</button>
        </form>
        <!-- <span class="font-weight-bold text-white">Tiki</span></a> -->
      <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active text-white"href="{% url 'store:home' %}">   Trang chủ</a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Danh mục</a>
          <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
            {% if categories_menu %}
              {% for cat_menu in categories_menu %}
                <a class="dropdown-item border-0 transition-link"
                  href="{% url 'store:category-products' cat_menu.slug %}">{{cat_menu.title}}</a>
              {% endfor %}
            {% endif %}
            <hr>
            <a class="dropdown-item border-0 transition-link" href="{% url 'store:all-categories'  %}">Tất cả danh mục</a>
                       
        </ul>
          <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item" ><a class="nav-link my text-white" style="font-size: 12px;" href="{% url 'store:cart' %}"> <i
                  class="fas fa-dolly-flatbed mr-1 text-white"></i>Giỏ hàng<small
                  class="text-white">({{cart_items.count}})</small></a></li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="pagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="font-size: 12px;" href="#">
                <i class="far fa-bell mr-1"> </i>Thông báo
            </a>
              
            <div class="dropdown-menu mt-3"  style="position: absolute;" aria-labelledby="pagesDropdown" >
              <a class="dropdown-item border-0 transition-link" href="#">Thông báo</a>
              <hr>             

                {% if notification_list %}   
                  {% if length == 0 %}
                    <p class="dropdown-item border-0 transition-link" style="font-size: 10px;">Bạn chưa có thông báo.</p>
                  {% endif %}
                  {% for notification in notification_list %}   
                      {% if notification.type == 1%}                
                      <a class="dropdown-item border-0 transition-link" style="font-size: 10px;"  href="{% url 'store:product-detail' notification.slug %}"> 
                        {{notification.content}}                     
                      </a>
                      <p style="margin-right: 15px; text-align: right; font-size: 10px;" class="small text-muted mb-0 ">{{notification.date_added|naturaltime}}</p>
                      {% else %}
                      <a class="dropdown-item border-0 transition-link" style="font-size: 10px;"
                        href="{% url 'store:orders' %}">
                        {{notification.content}}
                      </a>
                      <p style="margin-right: 15px; text-align: right; font-size: 10px;" class="small text-muted mb-0 ">
                        {{notification.date_added|naturaltime}}</p>
                      {% endif %}
                  {% endfor %}

                {% endif %}
          </li>

            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-user-alt mr-1"></i>
                Tài khoản của tôi
              </a>
            </li> {% endcomment %}

            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle
                text-white" style="font-size: 12px;" id="pagesDropdown" href="#"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i
                  class="fas fa-user-alt mr-1 text-white"></i>Tài khoản</a></a>
            <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">

              <a class="dropdown-item border-0 transition-link" href="{% url 'store:profile' %}">Tài khoản</a>
              <a class="dropdown-item border-0 transition-link" href="{% url 'store:like-products' %}">Sản phẩm ưu thích</a>
              <a class="dropdown-item border-0 transition-link" href="{% url 'store:cart' %}">Giỏ hàng</a>
              <a class="dropdown-item border-0 transition-link" href="{% url 'store:orders' %}">Đơn hàng</a>
              <a class="dropdown-item border-0 transition-link" href="{% url 'store:invoice' %}">Hoá đơn</a>
              <a class="dropdown-item border-0 transition-link" href="{% url 'store:purchase-orders' %}">Đơn đã mua</a>
              <a class="dropdown-item border-0 transition-link" href="{% url 'store:password-change' %}">Đổi mật khẩu</a>

              <hr>
              <a class="dropdown-item border-0 transition-link" href="{% url 'store:logout' %}">Đăng xuất</a>

            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link text-white" style="font-size: 15px;" href="{% url 'store:login' %}">Đăng nhập</a></li>
            <li class="nav-item"><a class="nav-link text-white" style="font-size: 15px;" href="{% url 'store:register' %}">Tạo tài khoản</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </header>