{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0" style="font-size:25px">{{category.title}}</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
              <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Trang chủ</a></li>
              <li class="breadcrumb-item"><a href="{% url 'store:all-categories' %}">Danh mục</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container p-0">
      <div class="row">
        <!-- SHOP SIDEBAR-->
        <div class="col-lg-3 order-2 order-lg-1">
          <h5 class="text-uppercase mb-4">Các danh mục</h5>

          {% if categories %}
          {% for cat in categories %}
          <a href="{% url 'store:category-products' cat.slug %}">
            <div class="py-2 px-4 {% if category == cat %}bg-dark text-white {% else %}bg-light{% endif %} mb-3">
              <strong class="small text-uppercase font-weight-bold">{{cat.title}}</strong>
            </div>
          </a>
          {% endfor %}
          {% endif %}

          <h6 class="text-uppercase mb-4">Khoảng giá</h6>
          <!-- <div class="price-range pt-4 mb-5">
                  <div id="range"></div>
                  <div class="row pt-2">
                    <div class="col-6"><strong class="small font-weight-bold text-uppercase">Từ</strong></div>
                    <div class="col-6 text-right"><strong class="small font-weight-bold text-uppercase">đến</strong></div>
                  </div>
                </div> -->
          <!-- <h6 class="text-uppercase mb-3">Show only</h6> -->
          <form id="BookPackageForm" action="" method="get">
            <div class="custom-control custom-radio">

              <input class="custom-control-input" id="customCheck1" type="radio" name="filter_price" value="1">
              <label class="custom-control-label text-small" for="customCheck1">Dưới 100 000 đ</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="customCheck2" type="radio" name="filter_price" value="2">
              <label class="custom-control-label text-small" for="customCheck2">Từ 100 000 đ đến 500 000 đ</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="customCheck3" type="radio" name="filter_price" value="3">
              <label class="custom-control-label text-small" for="customCheck3">Từ 500 000 đ đến 1 000 000 đ</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="customCheck4" type="radio" name="filter_price" value="4">
              <label class="custom-control-label text-small" for="customCheck4">Từ 1 000 000 đ đến 5 000 000 đ</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="customCheck5" type="radio" name="filter_price" value="5">
              <label class="custom-control-label text-small" for="customCheck5">Trên 5 000 000 đ</label>
            </div>
            <button class="btn btn-danger" id="action_filter" type="submit">Lọc </button>
          </form>
          <script>
            const filter_price = `customCheck{{ filter_price }}`
            const a = document.getElementById(filter_price)
            a.setAttribute('checked','')
          </script>
          <!-- <div class="custom-control custom-checkbox mb-4">
                  <input class="custom-control-input" id="customCheck6" type="checkbox">
                  <label class="custom-control-label text-small" for="customCheck6">Authorized Seller</label>
                </div> -->
          <!-- <h6 class="text-uppercase mb-3" style="margin-top: 20px;">Xu hướng mua</h6>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="customRadio1" type="radio" name="customRadio">
            <label class="custom-control-label text-small" for="customRadio1">Bán chạy nhất</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="customRadio2" type="radio" name="customRadio">
            <label class="custom-control-label text-small" for="customRadio2">Xem nhiều nhất</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="customRadio3" type="radio" name="customRadio">
            <label class="custom-control-label text-small" for="customRadio3">Miễn phí ship</label>
          </div> -->
          <!-- <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="customRadio4" type="radio" name="customRadio">
                  <label class="custom-control-label text-small" for="customRadio4">Buy It Now</label>
                </div> -->
        </div>
        <!-- SHOP LISTING-->
        <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
          <div class="row mb-3 align-items-center">
            {% if count %}
            <div class="col-lg-6 mb-2 mb-lg-0">
              <p class="text-small text-muted mb-0">Có tất cả {{count}} sản phẩm</p>
            </div>
            {% endif %}
            <div class="col-lg-6"> 
              <form action="" method="get">
              <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                
                <li class="list-inline-item text-muted mr-3"><a class="reset-anchor p-0" href="#"><i
                      class="fas fa-th-large"></i></a></li>
                <li class="list-inline-item text-muted mr-3"><a class="reset-anchor p-0" href="#"><i
                      class="fas fa-th"></i></a></li>
                
                <li class="list-inline-item">                                    
                      <select class="selectpicker ml-auto" name="sorting" data-width="200"
                        data-style="bs-select-form-control" data-title="Phân loại">
                        <option value="popularity" name="sorting">Phổ biến</option>
                        <option value="low-high" name="sorting">Giá: Từ thấp đến cao</option>
                        <option value="high-low" name="sorting">Giá: Từ cao đến thấp</option>
                      </select>                    
                </li>
                <li class="list-inline-item">
                  <input type="submit" value="Chọn">     
                </li>
                          

              </ul>   
              </form>
            </div>
          </div>

          <div class="row">

            {% if products %}
            {% for product in products %}
            {% if product.price < max_price and product.price > min_price %}
            <!-- PRODUCT-->
            <div class="col-lg-4 col-sm-6">
              <div class="product text-center">
                <div class="mb-3 position-relative">

                  <div class="badge text-white badge-"></div>

                  <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                    {% if product.product_image %}
                    <img class="img-fluid w-100" src="{{product.product_image.url}}" alt="{{product.title}}">
                    {% else %}
                    <img class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{product.title}}">
                    {% endif %}
                  </a>

                  <div class="product-overlay">
                    <ul class="mb-0 list-inline">
                      <li class="list-inline-item m-0 p-0">
                        {% comment %}<a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a>{% endcomment %}
                        <form action="{% url 'store:add-notifi-like-cp'  %}">
                          <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                          <button type="submit" class="btn btn-sm btn-outline-dark"><i class="far fa-heart"></i></button>
                        </form>
                      <li class="list-inline-item m-0 p-0">
                        {% comment %} <a class="btn btn-sm btn-dark" href="{% url 'store:add-to-cart' %}">Thêm vào
                          giỏ</a> {% endcomment %}

                        <form action="{% url 'store:add-to-cart' %}">
                          <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                          <button type="submit" class="btn btn-sm btn-dark">Thêm vào giỏ</button>
                        </form>

                      </li>
                    </ul>
                  </div>
                </div>
                <h6> <a class="reset-anchor" href="{% url 'store:product-detail' product.slug %}">{{product.title}}</a>
                </h6>
                <p class="small text-muted">{{product.price}} đ</p>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}


          </div>
          <!-- PAGINATION-->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center justify-content-lg-end">
              <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span
                    aria-hidden="true">«</span></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                    aria-hidden="true">»</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}