{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0" style="font-size:25px">{{category.title}}</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
              <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Trang chủ</a></li>
              <li class="breadcrumb-item"><a href="{% url 'store:all-categories' %}">Danh mục</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container p-0">
      <div class="row">
        <!-- SHOP SIDEBAR-->
        <div class="col-lg-3 order-2 order-lg-1">
          <h5 class="text-uppercase mb-4">Các danh mục</h5>

          {% if categories %}
          {% for cat in categories %}
          <a href="{% url 'store:category-products' cat.slug %}">
            <div class="py-2 px-4 {% if category == cat %}bg-dark text-white {% else %}bg-light{% endif %} mb-3">
              <strong class="small text-uppercase font-weight-bold">{{cat.title}}</strong>
            </div>
          </a>
          {% endfor %}
          {% endif %}

          <h6 class="text-uppercase mb-4">Khoảng giá</h6>
        
          <form id="BookPackageForm" action="" method="get">
            <div class="custom-control custom-radio">

              <input class="custom-control-input" id="customCheck1" type="radio" name="filter_price" value="1">
              <label class="custom-control-label text-small" for="customCheck1">Dưới 100.000đ</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="customCheck2" type="radio" name="filter_price" value="2">
              <label class="custom-control-label text-small" for="customCheck2">Từ 100.000đ đến 200.000đ</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="customCheck3" type="radio" name="filter_price" value="3">
              <label class="custom-control-label text-small" for="customCheck3">Từ 200.000đ đến 400.000đ</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="customCheck4" type="radio" name="filter_price" value="4">
              <label class="custom-control-label text-small" for="customCheck4">Từ 400.000đ đến 1.000.000đ</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="customCheck5" type="radio" name="filter_price" value="5">
              <label class="custom-control-label text-small" for="customCheck5">Trên 1.000.000đ</label>
            </div>
            <div class="">
              <button style="background-color: #dcb14a; border-color: #dcb14a;" 
              class="btn btn-danger" id="action_filter" type="submit">Lọc </button>
            </div>
          </form>
          <script>
            const filter_price = `customCheck{{ filter_price }}`
            const a = document.getElementById(filter_price)
            a.setAttribute('checked','')
          </script>
         
        </div>
        <!-- SHOP LISTING-->
        <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
          <div class="row mb-3 align-items-center">
            <div class="col-lg-6 mb-2 mb-lg-0">
              <p class="text-small text-muted mb-0">Có tất cả {{all|length}} sản phẩm</p>
            </div>
            <div class="col-lg-6"> 
              <form action="" method="get">
              <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                
                <!-- <li class="list-inline-item text-muted mr-3"><a class="reset-anchor p-0" href="#"><i
                      class="fas fa-th-large"></i></a></li> -->
                <li class="list-inline-item text-muted mr-3"><a class="reset-anchor p-0" href="#"><i
                      class="fas fa-th"></i></a></li>
                
                <li class="list-inline-item">                                    
                      <select class="selectpicker ml-auto" name="sorting" data-width="200"
                        data-style="bs-select-form-control" data-title="Phân loại">
                        <option value="popularity" name="sorting" {% if sorting == 'popularity' %} selected {% endif %}>Phổ biến</option>
                        <option value="low-high" name="sorting"{% if sorting == 'low-high' %} selected {% endif %}>Giá: Từ thấp đến cao</option>
                        <option value="high-low" name="sorting"{% if sorting == 'high-low' %} selected {% endif %}>Giá: Từ cao đến thấp</option>
                      </select>                    
                </li>
                <li class="list-inline-item">
                  <input type="submit" value="Chọn">     
                </li>
                          

              </ul>   
              </form>
             
            </div>
          </div>

          <div class="row">
            {% if products %}
            {% for product in products %}        
              <!-- PRODUCT-->
              <div class="col-lg-4 col-sm-6">
                <div class="product text-center">
                  <div class="mb-3 position-relative">
                    <div class="badge text-white badge-"></div>
                    <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                      {% if product.product_image %}
                      <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{{product.product_image.url}}" alt="{{product.title}}">
                      {% else %}
                      <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{product.title}}">
                      {% endif %}
                    </a>

                    <div class="product-overlay">
                      <ul style='height: 40px;' class="mb-0 list-inline">
                        <li style='height: 40px;' class="list-inline-item m-0 p-0">
                          {% comment %}<a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart" style="color:red;"></i></a>{% endcomment %}
                          <form action="{% url 'store:add-notifi-like-cp'  %}">
                            <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                            {% if user not in product.user_likes.all %}
                            <button style=' width: 40px' type="submit" class="btn btn-sm btn-outline-dark"><i class="far fa-heart mr-2" style="color:red"></i></button>
                            {% else %}
                            <button style='  width: 40px' type="submit" class="btn btn-sm btn-outline-dark"><i class="fas fa-heart " style="color:red"></i></button>
                            {% endif %}
                          </form>
                        <li style='height: 40px;' class="list-inline-item m-0 p-0">
                          {% comment %} <a  class="btn btn-sm btn-dark" href="{% url 'store:add-to-cart' %}">Thêm vào
                            giỏ</a> {% endcomment %}

                          <form action="{% url 'store:add-to-cart' %}">
                            <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                            <button type="submit" class="btn btn-sm btn-dark">Thêm vào giỏ</button>
                          </form>

                        </li>
                      </ul>
                    </div>
                  </div>
                  <h6> <a class="reset-anchor" href="{% url 'store:product-detail' product.slug %}">{{product.title}}</a>
                  </h6>
                  <p class="small text-muted">{{product.price|floatformat:0}} đ</p>
                </div>
              </div>
            {% endfor %}
            {% endif %}
          </div>
          <!-- PAGINATION-->
          {% if type > 0 %}
            {% if products|length > 0 %}          
            <!-- <nav style="margin-top: 10px;" aria-label="Page navigation example">
              <ul class="pagination justify-content-center justify-content-lg-end">
                <li class="page-item"><a id="btn_prev" class="page-link" href="#" aria-label="Previous"><span
                      aria-hidden="true">«</span></a></li>
                <li class="page-item active"><a id="page" class="page-link" href="#">1</a></li>
                <li class="page-item"><a id="page" class="page-link" href="#">2</a></li>
                <li class="page-item"><a id="page" class="page-link" href="#">3</a></li>
                <li class="page-item"><a id="btn_next" class="page-link" href="#" aria-label="Next"><span
                      aria-hidden="true">»</span></a></li>
              </ul>
            </nav> -->
            {% else %}
            <nav style="position:absolute; top: 780px; bottom:0; right: 0;  " aria-label="Page navigation example">
              <ul class="pagination justify-content-center justify-content-lg-end">
                <li class="page-item"><a id="btn_prev" class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item active"><a id="page" class="page-link" href="#">1</a></li>
                <li class="page-item"><a id="page" class="page-link" href="#">2</a></li>
                <li class="page-item"><a id="page" class="page-link" href="#">3</a></li>
                <li class="page-item"><a id="btn_next"class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>                    
            {% endif %}
          {% else %}         
          <nav style="margin-top: 10px;" aria-label="Page navigation example">
            <ul class="pagination justify-content-center justify-content-lg-end">
              {%if products.has_previous %}
              <li class="page-item"><a id="btn_prev" class="page-link"
                  href="{% url 'store:category-products' category.slug %}?page={{products.previous_page_number}}"
                  aria-label="Previous"><span aria-hidden="true">«</span></a></li>
              {% endif %}
              <li class="page-item active"><a id="page" class="page-link" href="#">{{products.number}}</a></li>
              <!-- <li class="page-item"><a id="page" class="page-link" href="#">2</a></li>
                          <li class="page-item"><a id="page" class="page-link" href="#">3</a></li> -->
              {%if products.has_next %}
              <li class="page-item"><a id="btn_next" class="page-link"
                  href="{% url 'store:category-products' category.slug %}?page={{products.next_page_number}}"
                  aria-label="Next"><span aria-hidden="true">»</span></a></li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
          
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}