{% extends 'base.html' %}
{% load static %}

{% block content %}
      {% include 'partials/_messages.html' %}
      <!-- SLIDER-->
      <div class="container" style="margin-top: 10px;">
        
        <section  id="Slider">
          
            <div class="aspect-ratio-169">
              <img src="{% static 'img/slide1.jpg' %}">
              <img src="{% static 'img/slide2.jpg' %}">
              <img src="{% static 'img/slide3.jpg' %}">
              <img src="{% static 'img/slide4.jpg' %}">
            </div>

            <div class="dot-container">
              <div class="dot active"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>            
            </div>
          
        </section>

       
        <!-- CATEGORIES SECTION-->
        <section class="pt-5">
          <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Mua sắm ngay</p>
            <h2 class="h5 text-uppercase mb-4">Các danh mục sách được yêu thích nhất</h2>
          </header>
          
          <div class="row">
          {% if categories %}
            {% for category in categories %}

              <div class="col-md-3 mb-4 mb-md-0">
                <a class="category-item" href="{% url 'store:category-products' category.slug %}">
                  {% if category.category_image %}
                    <img class="img-fluid" src="{{ category.category_image.url }}" alt="{{ category.title }}">
                    {% else %}
                    <img class="img-fluid" src="{% static 'img/cat-img-1.jpg' %}" alt="{{ category.title }}">
                  {% endif %}
                  <strong class="category-item-title text-center">{{ category.title }}</strong>
                </a>
              </div>
            
            {% endfor %}
          {% endif %}
          </div>
        </section>

         <!-- MOST VIEW PRODUCTS-->
         <section class="py-5">
          <header>
            <p class="small text-muted small text-uppercase mb-1">Hãy mua theo cách của bạn !</p>
            <h2 class="h5 text-uppercase mb-4">Sản phẩm được xem nhiều nhất</h2>
          </header>
          <div class="row">

            {% if products_popular %}
              {% for product in products_popular %}
              
                <!-- PRODUCT-->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="product text-center">
                    <div class="position-relative mb-3">

                      <div class="badge text-white badge-"></div>
                      
                      <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                        {% if product.product_image %}
                          <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{{ product.product_image.url }}" alt="{{product.title}}">
                        {% else %}
                          <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{product.title}}">
                        {% endif %}
                      </a>

                      <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                          <li class="list-inline-item m-0 p-0">
                            {% comment %}<a class="btn btn-sm btn-outline-dark" href="#" ><i class="far fa-heart "></i></a>{% endcomment %}
                            <form action="{% url 'store:add-notifi-like-home' %}">
                              <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                              {% if user not in product.user_likes.all %}
                              <button type="submit" class="btn btn-sm btn-outline-dark"><i class="far fa-heart " style="color:red"></i></button>
                              {% else %}
                              <button type="submit" class="btn btn-sm btn-outline-dark"><i class="fas fa-heart " style="color:red"></i></button>
                              {% endif %}
                            </form>
                          </li>
                          <li class="list-inline-item m-0 p-0">
                            {% comment %} <a class="btn btn-sm btn-dark" href="{% url 'store:add-to-cart' %}">Thêm vào giỏ</a> {% endcomment %}

                            <form action="{% url 'store:add-to-cart' %}">
                              <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                              <button type="submit" class="btn btn-sm btn-dark">Thêm vào giỏ</button>
                            </form>

                          </li>
                        </ul>
                      </div>
                    </div>
                    <h6> <a class="reset-anchor" href="{% url 'store:product-detail' product.slug %}">{{ product.title }}</a></h6>
                    <p class="small text-muted">{{product.price|floatformat:0}} đ</p>
                  </div>
                </div>

              {% endfor %}
            {% endif %}

            

          </div>
        </section>

        <section class="py-5">
          <div>
            {% if user.is_authenticated %}
            <header>
              <h2 class="h5 text-uppercase mb-4">Xem gần đây</h2>
            </header>
            {% endif %}
            <div class="row">
          
              {% if lastseen_products %}
              {% for product in lastseen_products %}
          
              <!-- PRODUCT-->
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product text-center">
                  <div class="position-relative mb-3">
          
                    <div class="badge text-white badge-"></div>
          
                    <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                      {% if product.product_image %}
                      <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{{ product.product_image.url }}" alt="{{product.title}}">
                      {% else %}
                      <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{product.title}}">
                      {% endif %}
                    </a>
          
                    <div class="product-overlay">
                      <ul class="mb-0 list-inline">
                        <li class="list-inline-item m-0 p-0">
                          {% comment %}<a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart "></i></a>{%
                          endcomment %}
                          <form action="{% url 'store:add-notifi-like-home' %}">
                            <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                            {% if user not in product.user_likes.all %}
                            <button type="submit" class="btn btn-sm btn-outline-dark"><i class="far fa-heart "
                                style="color:red"></i></button>
                            {% else %}
                            <button type="submit" class="btn btn-sm btn-outline-dark"><i class="fas fa-heart "
                                style="color:red"></i></button>
                            {% endif %}
                          </form>
                        </li>
                        <li class="list-inline-item m-0 p-0">
                          {% comment %} <a class="btn btn-sm btn-dark" href="{% url 'store:add-to-cart' %}">Thêm vào giỏ</a> {%
                          endcomment %}
          
                          <form action="{% url 'store:add-to-cart' %}">
                            <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                            <button type="submit" class="btn btn-sm btn-dark">Thêm vào giỏ</button>
                          </form>
          
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h6> <a class="reset-anchor" href="{% url 'store:product-detail' product.slug %}">{{ product.title }}</a></h6>
                  <p class="small text-muted">{{product.price|floatformat:0}} đ</p>
                </div>
              </div>
          
              {% endfor %}              
              {% endif %}
          
          
          
            </div>
          </div>
        </section>
        
        <!-- TRENDING PRODUCTS-->
        <section class="py-5">
          <header>
            <p class="small text-muted small text-uppercase mb-1">Hãy mua theo cách của bạn !</p>
            <h2 class="h5 text-uppercase mb-4">Sản phẩm mới nhất hiện nay</h2>
          </header>
          <div class="row">

            {% if products %}
              {% for product in products %}
              
                <!-- PRODUCT-->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="product text-center">
                    <div class="position-relative mb-3">

                      <div class="badge text-white badge-"></div>
                      
                      <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                        {% if product.product_image %}
                          <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{{ product.product_image.url }}" alt="{{product.title}}">
                        {% else %}
                          <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{product.title}}">
                        {% endif %}
                      </a>

                      <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                          <li class="list-inline-item m-0 p-0">
                            {% comment %}<a class="btn btn-sm btn-outline-dark" href="#" ><i class="far fa-heart "></i></a>{% endcomment %}
                            <form action="{% url 'store:add-notifi-like-home' %}">
                              <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                              {% if user not in product.user_likes.all %}
                              <button type="submit" class="btn btn-sm btn-outline-dark"><i class="far fa-heart " style="color:red"></i></button>
                              {% else %}
                              <button type="submit" class="btn btn-sm btn-outline-dark"><i class="fas fa-heart " style="color:red"></i></button>
                              {% endif %}
                            </form>
                          </li>
                          <li class="list-inline-item m-0 p-0">
                            {% comment %} <a class="btn btn-sm btn-dark" href="{% url 'store:add-to-cart' %}">Thêm vào giỏ</a> {% endcomment %}

                            <form action="{% url 'store:add-to-cart' %}">
                              <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                              <button type="submit" class="btn btn-sm btn-dark">Thêm vào giỏ</button>
                            </form>

                          </li>
                        </ul>
                      </div>
                    </div>
                    <h6> <a class="reset-anchor" href="{% url 'store:product-detail' product.slug %}">{{ product.title }}</a></h6>
                    <p class="small text-muted">{{product.price|floatformat:0}} đ</p>
                  </div>
                </div>

              {% endfor %}
            {% endif %}

            

          </div>
        </section>

        <!-- Post -->

        <section style="margin-bottom: 100px;">
          <div style="margin-bottom: 100px;" class="row">            

          {% if all_categories %}
            {% for category in all_categories %}
              <div class="col-md-10">
                <header  style="margin-bottom: 10px;" >
                  <a  href="{% url 'store:category-products' category.slug %}">
                    <h2 style="font-size: 25px;" class="h5 text-uppercase mb-4">{{ category.title}}</h2>
                  </a>                  
                </header>
                
              </div>
              <a style="right:0; color:black" href="{% url 'store:category-products' category.slug %}" >
                Xem thêm 
              </a>
              <div class="row">
                {% for product in all_products %}
                  {% if product.category == category%}  
                    
                    <!-- PRODUCT-->
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="product text-center">
                        <div class="position-relative mb-3">
                    
                          <div class="badge text-white badge-"></div>
                    
                          <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                            {% if product.product_image %}
                            <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{{ product.product_image.url }}" alt="{{product.title}}">
                            {% else %}
                            <img style='height: 255px; width: 255px' class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{product.title}}">
                            {% endif %}
                          </a>
                    
                          <div class="product-overlay">
                            <ul class="mb-0 list-inline">
                              <li class="list-inline-item m-0 p-0">
                                  {% comment %}<a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart "></i></a>{% endcomment %}
                                  <form action="{% url 'store:add-notifi-like-home' %}">
                                    <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                                    {% if user not in product.user_likes.all %}
                                    <button type="submit" class="btn btn-sm btn-outline-dark"><i class="far fa-heart " style="color:red"></i></button>
                                    {% else %}
                                    <button type="submit" class="btn btn-sm btn-outline-dark"><i class="fas fa-heart " style="color:red"></i></button>
                                    {% endif %}
                                  </form>
                              <li class="list-inline-item m-0 p-0">
                                {% comment %} <a class="btn btn-sm btn-dark" href="{% url 'store:add-to-cart' %}">Thêm vào giỏ</a> {%endcomment %}
                    
                                <form action="{% url 'store:add-to-cart' %}">
                                  <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                                  <button type="submit" class="btn btn-sm btn-dark">Thêm vào giỏ</button>
                                </form>
                    
                              </li>
                            </ul>
                          </div>
                        </div>
                        <h6> <a class="reset-anchor" href="{% url 'store:product-detail' product.slug %}">{{ product.title }}</a></h6>
                        <p class="small text-muted">{{product.price|floatformat:0}} đ</p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}
          </div>
        </section>


        <!-- SERVICES-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row text-center">
              <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#delivery-time-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">Free shipping</h6>
                      <p class="text-small mb-0 text-muted">Free shipping toàn quốc</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#helpline-24h-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">24 x 7 dịch vụ</h6>
                      <p class="text-small mb-0 text-muted">Free shipping toàn quốc</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#label-tag-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">Khuyến mãi sốc</h6>
                      <p class="text-small mb-0 text-muted">Free shipping toàn quốc</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- NEWSLETTER-->
        <section class="py-5">
          <div class="container p-0">
            <div class="row">
              <div class="col-lg-6 mb-3 mb-lg-0">
                <h5 class="text-uppercase">Tiki sẽ đồng hành cùng bạn!</h5>
                <p class="text-small text-muted mb-0">Hãy theo dõi khuyến mãi từ Tiki</p>
              </div>
              <div class="col-lg-6">
                <form action="" method="get">
                  <div class="input-group flex-column flex-sm-row mb-3">
                    <input class="form-control form-control-lg py-3" type="email" placeholder="Nhập email của bạn để nhận thông báo" aria-describedby="button-addon2" name="gmail">
                    <div class="input-group-append">
                      <button class="btn btn-dark btn-block" id="button-addon2" type="submit">Theo dõi</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>

      <script>
        const imgPosition = document.querySelectorAll(".aspect-ratio-169 img")
        const imgContainer = document.querySelector('.aspect-ratio-169')
        const dotItem = document.querySelectorAll(".dot")
        let imgNuber = imgPosition.length
        let index = 3
        imgPosition.forEach(function (image, index) {
          image.style.left = index * 100 + "%"
          dotItem[index].addEventListener("click", function () {
            slider(index)
          })
        })

        function imgSlide() {
          index++;
          if (index >= imgNuber) { index = 0 }
          slider(index)
        }


        function slider(index) {
          imgContainer.style.left = "-" + index * 100 + "%"
          const dotActive = document.querySelector('.active')
          dotActive.classList.remove("active")
          dotItem[index].classList.add("active")

        }
        setInterval(imgSlide, 3000)

      </script>      
{% endblock content %}