{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block metatitle %}Tiki{% endblock metatitle %}</title>
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo-tiki.png' %}">
</head>

<body>
    <div class='container mx-auto mt-5 col-md-10 mt-100'>
        <div class="header">
            <div class="title">Our Expert Team</div>
            <p><small class="text-muted">Lorem Ipsum dolor samet</p>
        </div>
        <div class="row justify-content-center pb-5">
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                        <div class="card-title "> Angelina Frederic<br /> <small>Head of marketing at K mart</small>
                        </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> I expected anything less than perfect for the team of experts.
                                    They are the best team ever! </small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body ">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg"> </div>
                        <div class="card-title "> Noel Flantier<br /> <small>CEO of Redbull</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> I really enjoyed working with them, they are Group of
                                    Professionals and they know what they're Doing </small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg"> </div>
                        <div class="card-title "> David Gregory<br /> <small>Resident Dj at ibdc</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> I always wanted cool videos of my concerts never knew whom to
                                    talk to but they are amazing! </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

