{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block metatitle %}Tiki{% endblock metatitle %}</title>
    <link rel="stylesheet" href="{% static 'css/style.footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo-tiki.png' %}">
</head>

<body >
    <div class="contain mx-auto mt-5 col-md-10 mt-100">  
        <img style='height: 550px; width: 1240px' src="{% static 'img/poster.png' %}">
    </div>
    <div style="background: #1a94ff; align-items: center;margin:auto" class=' container mx-auto mt-1 col-md-10 mt-100'>
        <div style="color:white" class="title">Tiki</div>
        <div class=" " style="padding-bottom: 30px;padding-top: 30px;max-width: 650px;text-align: center;align-items: center;margin:auto">
            <p ><small  class="text-white">Website bán hàng trực tuyến hay website thương mại điện tử được hiểu là trang thông tin
                điện tử được thiết lập để phục vụ một phần hoặc toàn bộ quy trình của hoạt động mua bán hàng hóa hay cung ứng
                dịch vụ, từ trưng bày giới thiệu hàng hóa, dịch vụ đến giao kết hợp đồng, cung ứng dịch vụ, thanh toán và dịch
                vụ sau bán hàng.</p>
        </div>       

    </div>
    <div style="background: #1a94ff; " class='container mx-auto mt-5 col-md-10 mt-100'>
        <div class="header">
            <div style="color:white" class="title">Tiki Team</div>
            <p style="color:white; font-size: 20px;" class=""><small class="">Đội ngũ phát triển giàu kinh nghiệm!</p>
        </div>
        <div class="row justify-content-center pb-5">
            <div  class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="{% static 'img/TD_.png' %}"> </div>
                        <div style="color:#1a94ff;font-size: 16px;" class="card-title "> Tăng Thế Duy<br /> <small>Developer</small>
                        </div>
                        <div class="card-subtitle">
                            <p  style="color:#1a94ff;font-size: 20px;" > <small class=""> Đã có thành thạo nhiều ngôn ngữ lập trình: python, java, c++,... và 2 năm kinh nghiệm trong nghề. </small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="{% static 'img/MD_.png' %}"> </div>
                        <div style="color:#1a94ff;font-size: 16px;" class="card-title "> Lê Minh Dũng<br /> <small>Manager</small> </div>
                        <div class="card-subtitle">
                            <p  style="color:#1a94ff; font-size: 20px;" > <small class=""> Người ham học hỏi, sáng tạo và có kinh nghiệm trong các dự án.</small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="{% static 'img/KD_.png' %}"> </div>
                        <div style="color:#1a94ff;font-size: 16px;" class="card-title "> Trần Khánh Duy<br /> <small>Designer</small> </div>
                        <div class="card-subtitle">
                            <p  style="color:#1a94ff;font-size: 20px;" > <small class=""> Là nhà thiết kế bán chuyên, với nhiều thiết kế gây ấn tượng mạnh với các bạn trẻ bây giờ. </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>

</html>

